# -------------------------
# Terraform core
# -------------------------
.terraform/
.terraform.lock.hcl

# Terraform state 
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# -------------------------
# Variable files (secrets)
# -------------------------

*.tfvars.json

# tfvars 
!example.tfvars
!*.example.tfvars

# -------------------------
# Terraform plan files
# -------------------------
*.tfplan
*.plan

# -------------------------
# Local / OS junk
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Editor / IDE
# -------------------------
.vscode/
.idea/
*.swp
*.swo

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Environment files
# -------------------------
.env
.env.*

# -------------------------
#  Terraform debug
# -------------------------
terraform-debug.log