name: Build and Push Docker Image to ECR Repo

on:
 workflow_dispatch:
   inputs:
     choice:
      description: "Confirm to build and push docker image to ECR Repository"
      required: true 
      type: string 
      default: ""

env:
 ECR_REPO: 678536383905.dkr.ecr.eu-west-2.amazonaws.com/ecs
 IMAGE_TAG: ${{ github.sha }}

jobs:
  build:
   runs-on: ubuntu-latest

   permissions:
    id-token: write
    contents: read

   steps:
   - name: Checkout Code 
     uses: actions/checkout@v4

   - name: Configure AWS Credentials 
     uses: aws-actions/configure-aws-credentials@v4
     with:
       role-to-assume: ${{ secrets.AWS_GITHUB_ACTIONS_ROLE }}
       aws-region: eu-west-2

   - name: Login to ECR 
     uses: aws-actions/amazon-ecr-login@v2

   - name: Build Docker Image
     run: docker build -t $ECR_REPO:$IMAGE_TAG ./gatus

   - name: Run Trivy image scanning
     uses: aquasecurity/trivy-action@master
     with:
      image-ref: ${{ env.ECR_REPO }}:${{ env.IMAGE_TAG }}
      format: "table"
      output: trivy-results.txt
      exit-code: 1
      ignore-unfixed: true
      severity: "CRITICAL,HIGH"

   - name: Publish Trivy table as an artifact
     uses: actions/upload-artifact@v4
     with:
      name: trivy-table-results
      path: trivy-results.txt

   - name: Push Docker Image 
     run: docker push $ECR_REPO:$IMAGE_TAG

   - name: Notify success
     if: success()
     run: echo Success! Your Docker image has been built and pushed!
