name: IaC Scanning + Terraform init + Terraform plan 

on:
 workflow_dispatch:
   inputs:
     choice:
      description: "Confirm to scan and plan infastructure"
      required: true 
      type: string 
      default: ""

env:
 ECR_REPO: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.eu-west-2.amazonaws.com/ecs
 IMAGE_TAG: ${{ github.sha }}
 TF_VAR_image_tag: ${{ github.sha }}

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
     id-token: write
     contents: read

    steps: 
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup Terraform 
      uses: hashicorp/setup-terraform@v3

    - name: Setup Terraform Lint 
      uses: terraform-linters/setup-tflint@v6

    - name: Terraform fmt
      run: terraform fmt --recursive

    - name: Terraform validate
      run: terraform validate 

    - name: Run Terraform Lint 
      working-directory: infra
      run: tflint -f compact 

    - name: Run Checkov
      id: checkov
      uses: bridgecrewio/checkov-action@v12
      with:
        directory: ./infra
        framework: terraform
        output_format: cli
        soft_fail: true

    - name: Configure AWS Credentials 
      uses: aws-actions/configure-aws-credentials@v4
      with:
       role-to-assume: ${{ secrets.AWS_GITHUB_ACTIONS_ROLE }}
       aws-region: eu-west-2
    
    - name: Terraform Init 
      working-directory: infra
      run: terraform init 

    - name: Terraform Plan 
      working-directory: infra
      run: terraform plan

    - name: Notify success
      if: success()
      run: echo Success! Your infastructure has been initialised and planned!
      